{% extends 'base.html' %}
{% load static %}
{% load getValue %}

{% block link %}
<link href="{% static 'css/for_rep_som.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="container">
    {% for i in rep_image %}
        {% if i != '1' %}
            <figure class="css-fukidashi">

                <a onClick="location.href='./main?imageID={{ i }}&frame=som'">
                <!--
                <a href="main?coordinate={{i}}", target="_self">
                -->

                <img src={{ "/media/images/"|add:i }} alt="写真" title={% get_value image_title i %}>
                </a>
                <!--<figcaption><p>{% get_value image_title i %}</p></figcaption>-->
                <p class="fukidashi">{% get_value image_title i %}</p>
            </figure>
        {% else %}
            <div></div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}