{% load static %}
{% load getValue %}
<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8" />

        <meta name="vieport" content="width=device-width"/>
        <title></title>


        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <script>
            function openWindow(){
                query = location.search.substring(1);
                paramater = query.split('=')
                id = paramater[1]

                //url = './som?' + 'coordinate=' + id;
                url = './som#' + id;
                window.open(url, 'somFrame');
            }
            </script>
    </head>

    <body onload="openWindow();">
        <div class="base">
            <div class="class_menu">
                <iframe src="menu" width="100%" height="100%"></iframe>
            </div>
            <div class="class_som">
                <iframe name="somFrame" width="100%" height="100%"></iframe>
            </div>
            <div class="archive">
                <iframe src="http://archives.c.fun.ac.jp/fronts/index/poster" name="explanation" width="100%" height="100%"></iframe>
            </div>
        </div>
    </body>
</html>