{% load static %}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"/>
        <title></title>
        <meta name="description" content=""/>
        <link href="{% static 'css/botton.css' %}" rel="stylesheet" type="text/css">

        <script>
            function getIdFromSomFrame() {


                window.open(menu_url, "menu");
            }
        </script>

    </head>
    <body>
        <a href="som?imageID={{imageID}}" target="somFrame" class="btn btn--red btn--radius btn--cubic">画像<i class="fas fa-angle-right fa-position-right"></i></a>
        <div></div>
        <a href="title?imageID={{imageID}}" target="somFrame" class="btn btn--red btn--radius btn--cubic">タイトル<i class="fas fa-angle-right fa-position-right"></i></a>
    </body>
</html>