{% load static %}
{% load getValue %}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"/>
        <title></title>
        <meta name="description" content=""/>
        <link href="{% static 'css/grid.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="container">
                {% for i in som %}
                    {% if i != '1' %}
                        <figure>
                            <a href={% get_value links i %} target="arc" id={{ "Image"|add:i }}>
                            <img src={{ "/media/images/"|add:i }} alt="写真" class="scale-img" draggable="false">
                            </a>
                            <figcaption>{% get_value title i %}</figcaption>

                        </figure>
                    {% else %}
                        <div></div>
                    {% endif %}
                {% endfor %}
        </div>
    </body>
</html>
