
{% load static %}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"/>
        <title></title>
        <meta name="description" content=""/>
        <link href="{% static 'css/grid.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
    <p>[check!!!]</p>
        {% for i in som %}
            {% if i!=1 %}
                {% with imgName=i  %}{% endwith %}
                <p>{{i}}</p>
                <img src=imgName alt="写真">
            {% endif %}
        {% endfor %}

    </body>
</html>
