
{% load static %}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"/>
        <title></title>
        <meta name="description" content=""/>
        <link href="{% static 'css/grid.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="container">
            <div id="itemA"><figure><img src="/media/images/po0000010-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemB"><figure><img src="/media/images/po0000020-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemC"><figure><img src="/media/images/po0000050-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemD"><figure><img src="/media/images/po0000060-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemE"><figure><img src="/media/images/po0000080-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemF"><figure><img src="/media/images/po0000110-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemG"><figure><img src="/media/images/po0000120-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemH"><figure><img src="/media/images/po0000130-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemI"><figure><img src="/media/images/po0000150-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemJ"><figure><img src="/media/images/po0000170-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
            <div id="itemK"><figure><img src="/media/images/po0000180-0-0.jpg" alt="写真"><figcaption>開港112年函館港まつり</figcaption></figure></div>
        </div>

    </body>
</html>
