figure {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}
figure img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
}
figcaption {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: calc(100% * 0.5);
    background: rgba(0, 0, 0, .6);
    -webkit-transition: .3s;
    transition: .3s;
}
figure:hover figcaption {
    bottom: 0;
}
.scale-img {
    transition-duration: 0.1s; /*変化の時間*/
}
.scale-img:hover {
    transform: scale(1.1,1.1); /*画像の拡大*/
    cursor: pointer; /*カーソルをポインターにする*/
}
#container{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(22, minmax(calc(100% / 23), 1fr));
}