figure {
    display: inline-block;
    margin: 2px 2px 2px 2px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #ccc;
}
figure img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
}
figcaption {
    font-size: 0.8em;
    text-align: center;
}
.scale-img {
    transition-duration: 0.1s; /*変化の時間*/
}
.scale-img:hover {
    transform: scale(1.1,1.1); /*画像の拡大*/
    cursor: pointer; /*カーソルをポインターにする*/
}
#container{
    display: grid;
    grid-template-columns: repeat(11, minmax(calc(100% / 11), 1fr));


}
